<!DOCTYPE html>
<html>
  <head>
    <title>Health24</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <% if controller_name == 'commits' %>
          <%= render 'commits/search' %>
        <% else %>
          <%= link_to "Health24", root_path, class: "brand-logo right" %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <% if flash.any? %>
        <div class="content-wrapper buffer-both">
          <% flash.each do |name, message| %>
            <ul class="collection">
              <li class="collection-item">
                <%= content_tag :div, message, class: "flash-#{name}" %>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
